[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
tensorflow = "*"
pandas = "*"
sklearn = "*"
jupyter = "*"
matplotlib = "*"
ipython = "*"
scikit-learn = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.7"
